* {
    margin: 0;
    box-sizing: border-box;
}
 body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: aquamarine;
 }
 p {
    font-size: 130px;
 }
 section {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
    border-radius: 50px;
    border: solid 10px;
 }
